.row img { 
    border-radius: 100%;
    width: 180px;
    height: 180px;
}

.row p{
    padding: 10px;
    font-size: 15px;   
}

.map_canvas {
    align-content: center;
    align-items: center;
    
}

.row p h{
    padding: 10px;
    font-size: 15px;  
    text-align: left;
}

.row col-xs-5{
    padding: 20px;   
}